
<h1 id="form_title" style="margin-bottom: -80px; margin-top:-50px; border-bottom: none;">Users</h1>



<div id="posts_wrapper" class="skinny_wrapper">

  <%= link_to "New User", new_user_path, :class => "link--edit" %>

</div>
