<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>There are many variations of passages of Lorem Ipsum <a href="#">available</a></p>

      <p>But the majority have suffered
      alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
     </p>
      <p>There are many variations of passages of Lorem Ipsum available,
        but the majority have suffered
      </p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff I've written</h2>
    <hr>

    <% @posts.each do |post| %>
    <h3><a href="#"><%= link_to post.title, post %></a></h3>
    <p class="date"><%= post.created_at.strftime("%A, %b %d") %> </p>

    <% end %>

  </div>
  <div class="col-3 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>
    <h3><a href="#">Unicasts</a></h3>
    <p class="date">Friday April 10th</p>
    <h3><a href="#">Janet Hamrani</a></h3>
    <p class="date">Friday April 10th</p>
    <h3><a href="#">12 in 12 challenge</a></h3>
    <p class="date">Friday April 10th</p>
  </div>
</div>
