
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');





#posts_index{
  //padding-top: -150px;
  //margin-right: -430px;
  margin-top: 50px;
  padding-left: 60px;

  #posts_show_img_posts {
    width: 550px;
  //  -margin-left: 10px;
    height: 400px;

  }
  h2{
    width: 600px;
  }
}
.posts_wrapper {
  //padding: 3em 0;
  //width: 1000px;
  margin-top: -300px;
  margin-left: 180px;


   .post{
     display: inline-flex;
     font-family: 'Hind Madurai', sans-serif;
     text-transform: capitalize;

     margin-top: -90px;
     margin-left: -200px;

     .flex {
       display: flex;
       flex-direction: column;
     }

     .posts_show_img {
         float: right;
         position: relative;
         width: 550px;
         height: 350px;
         margin-left: -50px;
         //margin-right: -220px;
     }
     #posts_show_img_wel{
       //margin-right: -100px;

     }
     .category{
       //margin-left: 20px;
       text-transform: uppercase;

     }
     .date{
       //margin-right: 100px;
       text-align: left;
       font-size: 2em;
       //margin-left: 70px;
       //margin-left: -50px;
       float: left;
       font-weight: lighter;
       color: black;
       font-family: 'Source Serif Pro', serif;


     }
     #date_trending_index {
     float: left;
     width: 200px;
     height: 10px;
     //text-align: left;
      margin-bottom: 70px;
     margin-left: 50px;
     //margin-left: -50em;
     }

     h2{
       margin-right: 100px;
       //text-align: left;
       font-size: 2em;
       //margin-left: 70px;
       //margin-left: -50px;
       float: left;

       font-weight: lighter;
       color: black;
       font-family: 'Source Serif Pro', serif;


       a {
         text-decoration: none;
         text-align: left;
         font-family: 'Crimson Text', serif;
         font-weight: lighter;

         color: $dark;
         &:hover {
           color: $highlight;
         }
       }
      #post_index_h2 {
        margin-left: -150px;
        width: 500px;

      }
    }
  }
}




.skinny_wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}



    hr {
      margin: 3em auto;
    }




// - - - - Posts show



header{
  text-align: center;
  width: 100%;
  #date_post {

    padding-top: 10px;
    font-size: .9em;
    color: $light;
    margin: 0;
    font-family: 'Playfair Display', serif;


    color: gray;
  }
  h1{
  //  position: absolute;
    background: rgba(255, 255, 255, 0.9);
    width: 80%;
  //  padding: 20px;
    text-align: center;
  //  top: 30%;
    text-decoration: none;
  //  left: 50%;
    //transform: translate(-50%, -50%);
    font-size: 5em;
    //text-align: center;
    position: relative;
    font-family: 'Playfair Display', serif;
    color: $highlight;
    font-size: 30px;
    margin-left: 80px;
    margin-top: -40px;
    text-transform: capitalize;
    margin-top: 6em;

    font-weight: bold; border: 3px solid #f1f1f1; z-index: 2;  padding: 20px;
  }
  .author {
    font-family: 'Playfair Display', serif;

  }

}

#post_show_content {

  h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;

  }
  hr {
    margin: 2em auto;
  }

  p {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: $dark;
  //  letter-spacing: 1px;

  }
}

#posts_posts{
  margin-top: -200px;
  margin-bottom: 20px;
}
#share_box {
  text-align: center;
  p{
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
    font-size: .8em;
  }
  i {
    color: $dark;
    padding: 1em 1.5em;
    &:hover{
      color: $highlight;
      cursor: pointer;
    }
  }
}
#admin_links {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  text-align: center;
  padding: 1em 0;
  margin: 3em 0;
  a {
    color: $light;
    margin: 0 1em;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none;

  }

}

.post_banner_img {
  width: 100%;
  height: 500px;
}
.banner_hr {
  color: $highlight;
  border-color: $highlight;
  margin-top: -5px;
}


#post_total{
  margin-top: -200px;
  margin-left: 250px;
}


/*

@media(max-width: 435px) {
  .second_author {
    margin-top: 0 !important;
  }
}

@media(min-width: 1075px) and (max-width: 1240px) {
  .authors {
    display: inline-block !important;
    .second_author {
      margin-top: 5px;
    }
  }
}

@media (max-width: 448px) {
    .skinny {
      max-width: 90%;
      margin: 0 auto !important;
      #post_title_show {
        padding: 0px 15px;
        h1 {
          padding-top: 20px;
        }
      }
    }

    #content {
      padding: 0 15px;
      p {
        font-size: 1em;
      }
    }
}

@media(max-width: 800px) {
  #nav_article2 {
    display: none !important;
  }
  .main_title2 {
    margin-left: 0 !important;
    h1 a:hover {
      color: white !important;
    }
  }
}

@media (max-width: 386px) {
  .flex--container--post--title {
    header {
      .date {
        font-size: 0.8em;
        color: #00b5f9;
        padding-bottom: 10px;
        font-family: 'Roboto Condensed', sans-serif;
      }
      h1 {
        font-size: 2em;
        margin-bottom: 0;
        padding: 10px;
        color: #2b2b2b;
        font-family: 'Roboto Condensed', sans-serif;
      }
    }
  }
}




*/



// - - - - Pagination

//fix colons
.pagination::before, .pagination::after{
  content: " ";
  display: table;
}
.pagination::after{
  clear: both;
}
.pagination {
  text-align: center;
  margin: 0 0 3em 0;
  a, .previous_page, .current, .next_page {
    padding: .75em 1em;
    margin: 0 .5em;
    border-radius: .15em;
    line-height: 20px;
    text-decoration: none;
    background: $white;
    font-weight: 700;
    font-size: .7em;
    font-style: normal;
    color: $dark;
    &:hover {
      background: $highlight;
      color: $white;
    }
  }
  .current {
    background: $highlight;
    color: $white;
  }
  .disabled {
    color: #C0c0c0;
    &:hover{
      color: #c0c0c0;
      background: $white;
    }
  }
}
