@import url('https://fonts.googleapis.com/css?family=Hind+Madurai');


#posts_wrapper {
  padding: 3em 0;
   .post{
     display: inline-flex;
     font-family: 'Hind Madurai', sans-serif;
     text-transform: capitalize;
     margin-top: 20px;
     margin-left: 20px;



     .posts_show_img {
         float: right;
         width: 300px;
         height: 300px;
     }

     .date{
       font-size: .9em;
       text-align: left;
       color: $light;
       margin-top: 40px;
       margin-right: 400px;
       font-family: 'Hind Madurai', sans-serif;

     }

     h2{
       margin-right: 100px;
       text-align: left;
       font-size: 2em;
       float: left;

       a {
         text-decoration: none;

         color: $dark;
         &:hover {
           color: $highlight;
         }
       }

     }



    hr {
      margin: 3em auto;
    }
   }
}
// - - - - Posts show

#post_show_content {
  header{
    text-align: center;
    #date_post {
      padding-top: 10px;
      font-size: .9em;
      color: $light;
      margin: 0;

      color: gray;
    }
    h1{
      position: absolute;
      background: rgba(255, 255, 255, 0.9);
      width: 65%;
      padding: 20px;
      text-align: center;
      top: 30%;
      text-decoration: none;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4em;
      font-family: 'PT Sans', sans-serif;
      text-transform: uppercase;
    }

  }
  h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;

  }
  hr {
    margin: 2em auto;
  }

  p {
    font-family: 'Merriweather', serif;

  }
}



#share_box {
  text-align: center;
  p{
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
    font-size: .8em;
  }
  i {
    color: $dark;
    padding: 1em 1.5em;
    &:hover{
      color: $highlight;
      cursor: pointer;
    }
  }
}
#admin_links {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  text-align: center;
  padding: 1em 0;
  margin: 3em 0;
  a {
    color: $light;
    margin: 0 1em;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none;

  }

}



// - - - - Pagination

//fix colons
.pagination::before, .pagination::after{
  content: " ";
  display: table;
}
.pagination::after{
  clear: both;
}
.pagination {
  text-align: center;
  margin: 0 0 3em 0;
  a, .previous_page, .current, .next_page {
    padding: .75em 1em;
    margin: 0 .5em;
    border-radius: .15em;
    line-height: 20px;
    text-decoration: none;
    background: $white;
    font-weight: 700;
    font-size: .7em;
    font-style: normal;
    color: $dark;
    &:hover {
      background: $highlight;
      color: $white;
    }
  }
  .current {
    background: $highlight;
    color: $white;
  }
  .disabled {
    color: #C0c0c0;
    &:hover{
      color: #c0c0c0;
      background: $white;
    }
  }
}
