
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');





#posts_index{
  //padding-top: -150px;
  //margin-right: -430px;
  margin-top: 50px;
  padding-left: 60px;

  #posts_show_img_posts {
    width: 550px;
  //  -margin-left: 10px;
    height: 400px;

  }
  h2{
    width: 600px;
  }
}
.posts_wrapper {
  //padding: 3em 0;
  //width: 1000px;
  margin-top: -300px;
  margin-left: 180px;


   .post{
     display: inline-flex;
     font-family: 'Hind Madurai', sans-serif;
     text-transform: capitalize;

     margin-top: -90px;
     margin-left: -200px;

     .flex {
       display: flex;
       flex-direction: column;
     }

     .posts_show_img {
         float: right;
         position: relative;
         width: 550px;
         height: 350px;
         margin-left: -50px;
         //margin-right: -220px;
     }
     #posts_show_img_wel{
       //margin-right: -100px;

     }
     .category{
       //margin-left: 20px;
       text-transform: uppercase;

     }
     .date{
       //margin-right: 100px;
       text-align: left;
       font-size: 2em;
       //margin-left: 70px;
       //margin-left: -50px;
       float: left;
       font-weight: lighter;
       color: black;
       font-family: 'Source Serif Pro', serif;


     }
     #date_trending_index {
     float: left;
     width: 200px;
     height: 10px;
     //text-align: left;
      margin-bottom: 70px;
     margin-left: 50px;
     //margin-left: -50em;
     }

     h2{
       margin-right: 100px;
       font-size: 2em;
       float: left;
       font-weight: lighter;
       color: black;
       font-family: 'Source Serif Pro', serif;
       a {
         text-decoration: none;
         text-align: left;
         font-family: 'Crimson Text', serif;
         font-weight: lighter;

         color: $dark;
         &:hover {
           color: $highlight;
         }
       }
      #post_index_h2 {
        margin-left: -150px;
        width: 500px;

      }
    }
  }
}

//category show

.whole_category{
  width: 100%;
  display: block;
  .articles-show{
    width: 100%;
    display: block;
    .flex{
      display: flex;
      flex-direction: row;
      .container_show {
        width: 93%;
        margin-left: auto;
        margin-right: auto;
          .whole_post{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 20px;

            .container_image {
              width: 50%;
              display: block;
              img {
                border-style: none;
                display: inline;
                width: 100%;
                height: auto;
              }
            }
            .post_content {
              margin-left: auto;
              margin-right: auto;
              margin-top: -20px;
              width: 60%;
              h2{
                font-family: "Roboto Condensed";
                margin: 0;
                text-align: center;
                padding: 10px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                a {
                  text-decoration: none;
                  font-family: 'Crimson Text', serif;
                  font-weight: lighter;
                  color: black;
                }

              }
              p {
                  text-align: center;
                  margin: 0;
                  font-size: 15px;
                  color: lightgray;
                  font-family: 'Roboto';
                  letter-spacing: 2px;
                  text-transform: uppercase;

                }

            }
        }
      }
    }
  }
}

    // .whole_post{
    //   display: flex;
    //   flex-direction: row;
    //   align-items: center;
    //   margin-bottom: 20px;
    //   margin-left: 40px;
    //   .container_image{
    //     width: 40%;
    //     img{
    //       width: 100%;
    //       height: auto;
    //     }
    //   }
    //   .post_content{
    //     margin-left: -80px;
    //     margin-right: auto;
    //     margin-top: -20px;
    //     width: 60%;
    //     .post_index_details{
    //       display: flex;
    //       margin-left: 270px;
    //       font-family: 'Roboto', sans-serif;
    //       text-transform: uppercase;
    //       font-size: 12px;
    //     .post_date {
    //       text-align: center;
    //       margin: 0;
    //       margin-left: 30px;
    //       font-size: 12px;
    //       letter-spacing: 1px;
    //       color: lightgray;
    //       text-transform: uppercase;
    //     }
    //   }
    //     h2{
    //       margin: 0;
    //       text-align: center;
    //       padding: 10px;
    //       width: 80%;
    //       font-family: 'Open Sans', sans-serif;
    //       font-weight: lighter;
    //
    //       margin-left: 130px;
    //       margin-right: auto;
    //     }
    //     a{
    //       font-family: 'Open Sans', sans-serif;
    //       text-decoration: none;
    //     }
    //   }
    // }


.skinny_wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}



    hr {
      margin: 3em auto;
    }




// - - - - Posts show



header{
  text-align: center;
  width: 100%;
  #date_post {

    padding-top: 10px;
    font-size: .9em;
    color: $light;
    margin: 0;
    font-family: 'Playfair Display', serif;


    color: gray;
  }
  h1{
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    text-decoration: none;
    font-size: 5em;
    position: relative;
    font-family: 'Playfair Display', serif;
    color: $highlight;
    font-size: 30px;
    width: auto;
    margin-top: -40px;
    text-transform: capitalize;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    padding: 20px;
  }
  .author {
    font-family: 'Playfair Display', serif;

  }

}

#post_show_content {

  h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;

  }
  .post_title{

  }
  hr {
    margin: 2em auto;
  }

  p {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: $dark;
  //  letter-spacing: 1px;

  }
}

#posts_posts{
  margin-top: -200px;
  margin-bottom: 20px;
}
#share_box {
  text-align: center;
  p{
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
    font-size: .8em;
  }
  i {
    color: $dark;
    padding: 1em 1.5em;
    &:hover{
      color: $highlight;
      cursor: pointer;
    }
  }
}
#admin_links {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  text-align: center;
  padding: 1em 0;
  margin: 3em 0;
  a {
    color: $light;
    margin: 0 1em;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none;

  }

}

.post_banner_img {
  width: 100%;
  height: 500px;
}
.banner_hr {
  color: $highlight;
  border-color: $highlight;
  margin-top: -5px;
}


#post_total{
  margin-top: -200px;
  margin-left: 250px;
}
// @media(max-width: 376px) {
//   #page_title {
//     font-size: 2.5rem;
//     text-transform: uppercase;
//     padding-top: 20px;
//     padding-bottom: 20px;
//     width: 100%;
//
//     margin: 0;
//     border: none;
//
//     font-weight: 00;
//
//     color: #b47775;
//     text-align: center;
//   }
//   .container_show{
//     width: 100%;
//     .whole_post {
//       flex-direction: column;
//       margin-bottom: 0;
//       margin-left: 0;
//       .container_image{
//         width: 100%;
//         margin: 0;
//       }
//       .post_content {
//         width: 95%;
//         margin: 0;
//         margin-bottom: 10px;
//         h2 {
//           margin-left: 0;
//           margin-right: 0;
//           width: 95%;
//           margin-bottom: 10px;
//         }
//         .post_index_details {
//           margin-top: -10px;
//           margin-left: 0;
//           margin-right: 0;
//
//         }
//       }
//     }
// }
//
// }

@media (max-width: 640px) {
  .whole_category {
    .articles-show {
      width: 100%;
      .whole_post {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        .container_show {
          width: 100%;
          .container_image {
            height: 260px;
            width: 100%;
            margin-bottom: 5px;
          }
        }
        .post_content {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 80%;
          h2 {
            width: 100%;
            padding: 0;
          }
        }
      }
    }
  }
}


// - - - - Pagination

//fix colons
.pagination::before, .pagination::after{
  content: " ";
  display: table;
}
.pagination::after{
  clear: both;
}
.pagination {
  text-align: center;
  margin: 0 0 3em 0;
  a, .previous_page, .current, .next_page {
    padding: .75em 1em;
    margin: 0 .5em;
    border-radius: .15em;
    line-height: 20px;
    text-decoration: none;
    background: $white;
    font-weight: 700;
    font-size: .7em;
    font-style: normal;
    color: $dark;
    &:hover {
      background: $highlight;
      color: $white;
    }
  }
  .current {
    background: $highlight;
    color: $white;
  }
  .disabled {
    color: #C0c0c0;
    &:hover{
      color: #c0c0c0;
      background: $white;
    }
  }
}
