.title {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  text-transform: none;
}
.texteditor{
  width: 1000px;
}
#url{
  color: red;
}
#imgeditor {
  width: 600px;
  height: 800px;
}
p, li{
  //font-size: 20px;
}
#wh{
  color: purple;
}
#space {
  color: blue;
}
#preview{
  color: #da25c1;
}
